
  <!-- Hero Page Style -->
  <section id="page-header">
    <h2>#Stayhome</h2>
    <p>Save more with coupons & up to 70% off!</p>
  </section>

  <!-- Featured Products Section -->
  <section id="product1" class="section-p1">
    <div class="pro-container">
      <div class="pro" onclick="window.location.href='sproduct.html';">
        <img src="./images/products/f1.jpg" alt="">
        <div class="des">
          <span>adidas</span>
          <h5>Astronut Shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/f2.jpg" alt="">
        <div class="des">
          <span>nike</span>
          <h5>Colorful Shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$70</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/f3.jpg" alt="">
        <div class="des">
          <span>H&M</span>
          <h5>Tree leaves Shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$65</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/f4.jpg" alt="">
        <div class="des">
          <span>Calvin Klien</span>
          <h5>Basic Colorful Shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$55</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/f5.jpg" alt="">
        <div class="des">
          <span>American Eagel</span>
          <h5>Caroo Shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$90</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/f6.jpg" alt="">
        <div class="des">
          <span>Zara</span>
          <h5>Basic T-shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$83</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/f7.jpg" alt="">
        <div class="des">
          <span>adidas</span>
          <h5>Wide Leg Pants</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$91</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/f8.jpg" alt="">
        <div class="des">
          <span>Polo</span>
          <h5>Leaves Blouse</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$97</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>

  <!-- New Arrivals Section -->
      <div class="pro">
        <img src="./images/products/n1.jpg" alt="">
        <div class="des">
          <span>Zara</span>
          <h5>Basic Light-blue Shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$76</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/n2.jpg" alt="">
        <div class="des">
          <span>H&M</span>
          <h5>Caroo Nice Shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$76</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/n3.jpg" alt="">
        <div class="des">
          <span>Zara</span>
          <h5>Snow White Shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$90</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/n4.jpg" alt="">
        <div class="des">
          <span>Zain</span>
          <h5>Battern Shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$50</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/n5.jpg" alt="">
        <div class="des">
          <span>Zara</span>
          <h5>Jeans Shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$119</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/n6.jpg" alt="">
        <div class="des">
          <span>Alien</span>
          <h5>Sweet Jeans Short</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$89</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/n7.jpg" alt="">
        <div class="des">
          <span>Zara</span>
          <h5>Beige Jacket</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$130</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
      <div class="pro">
        <img src="./images/products/n8.jpg" alt="">
        <div class="des">
          <span>Polo</span>
          <h5>Basic Black Shirt</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$96</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
      </div>
    </div>
  </section>

  <!-- Pagination Section -->
  <section id="pagination">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa-solid fa-right-long"></i></a>
  </section>

  <!-- NewSletter Section -->
  <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
      <h4>Sign Up For Newsletters</h4>
      <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
      <input type="email" name="email" placeholder="Your email address" autocomplete="email">
      <button class="normal">Sign Up</button>
    </div>
  </section>
